@font-face {
    font-family: "front";
    src: url("assests/fonts/front.woff") format("woff"), url("assests/fonts/front.woff2") format("woff2")
}

@font-face {
    font-family: "back";
    src: url("assests/fonts/back.woff") format("woff"), url("assests/fonts/back.woff2") format("woff2")
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
 background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.page-title {
    color: #000000;
    font-family: front, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;

}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: back, sans-serif;
    color: #000000;
    font-size: 4em;
}

.game-container {
   display: grid;
   grid-template-columns: repeat(4, auto);
   grid-gap: 10px;
   margin: 50px;
   justify-content: center;
}

.card {
    background-color: black;
    height: 175px;
    width: 125px;

}

.card.visible .card-back {
transform: rotate(180deg);
}

.card.visible .card-front {
    transform: rotateX(0)
}